<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2>Restaurent Record App</h2>
    <div class="d-flex">
      <div
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add Restaurent
      </div>
    </div>
  </div>
</nav>
<!-- Jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Restaurent Management</h1>
    <p class="col-md-8 fs-4">
      You can Save Record of Restaurent Using Angular12
    </p>
    <p class="btn btn-primary btn-lg" type="button">Testycodeiz</p>
  </div>
</div>
<!-- Jumbotron-end -->
<!-- Table Shown Here -->

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Restaurent Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Service</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Badnam</td>
      <td>badnam@gmail.com</td>
      <td>01916202163</td>
      <td>Location Fixed nahi hain</td>
      <td>Chai and Coffie</td>
      <td>
        <button class="btn btn-info">Edit</button>&nbsp;
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>

  <!-- Modal -->
</table>

<!-- Modal -->
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter Your Name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input
              placeholder="Enter Your Email"
              type="email"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile</label>
            <input
              placeholder="Enter Your Mobile"
              type="number"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Address</label
            >
            <input
              placeholder="Enter Your Address"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Services</label
            >
            <input
              placeholder="Services"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Add Details</button>
      </div>
    </div>
  </div>
</div>
