<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2>Restaurent Record App</h2>
    <div class="d-flex">
      <div class="btn btn-success">Add Restaurent</div>
    </div>
  </div>
</nav>

<!-- Table Shown Here -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Restaurent Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Service</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Badnam</td>
      <td>badnam@gmail.com</td>
      <td>01916202163</td>
      <td>Location Fixed nahi hain</td>
      <td>Chai and Coffie</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
